# LATIHAN - P0W1D3PM : NUMPY

**NOMOR 1**

Buatlah sebuah array seperti dibawah ini dan tambahkan setiap elemennya dengan `1`.

```
a = [10, 20, 30, 40, 50]
```

**NOMOR 2**

Buatlah sebuah array seperti dibawah ini dan keluarkan element yang bernilai negatif.

```
b = [-3, 0, -2, 1, 2, 3, -4]
```

**NOMOR 3**

Buatlah sebuah array seperti dibawah ini. Keluarkan element yang bernilai positif kemudian urutkan dari nilai yang kecil ke besar

```
c = [10, -8, 4, 5, -41, 7, 5, -4]
```

**NOMOR 4**

Buatlah array seperti dibawah ini kemudian tumpukkan secara horizontal dan vertikal satu sama lain.

```
d = [1, 2, 3, 4, 5]
e = [6, 7, 8, 9, 10]
```

**NOMOR 5**

Buatlah dua buah array seperti dibawah ini yang berasal dari 1 deklarasi variabel yang sama. Kemudian, kalikan array pertama dengan `2` dan kalikan array kedua dengan `3`.

```
f = [10, 20, 30, 40, 50]
```

Ekspektasi output : 
```
hasil perkalian dengan 2 -> [20, 40, 60, 80, 100] 
hasil perkalian dengan 3 -> [30, 60, 90, 120, 150]
```

**NOMOR 6**

Buatlah sebuah array seperti dibawah ini dan hitung total jumlahnya.

```
h = [1, 2, 3, 4, 5]
j = [ [1, 2, 3],
      [4, 5, 6]]
```

Ekspektasi output :

```
total nilai h = 15
total nilai j berdasarkan penjumlahan baris = [6, 15]
total nilai j berdasarkan penjumlahan kolom = [5, 7, 9]
```

**NOMOR 7**

Buatlah sebuah array seperti dibawah ini dan cari nilai `min`, `max`, dan `sum` per baris dan per kolom.

```
k = [ [1, 2, 3],
      [4, 5, 6]]
```

**NOMOR 8**

Buatlah sebuah array seperti dibawah ini dan cari baris kedua dan kolom kedua.

```
n = [ [1, 2, 3], 
      [4, 5, 6],
      [7, 8, 9]]
```

**NOMOR 9**

Buatlah sebuah array seperti dibawah ini dan cari nilai `min`, `max`, dan `sum` untuk baris kedua dan kolom kedua.

```
m = [ [1, 2, 3], 
      [4, 5, 6],
      [7, 8, 9]]
```

**NOMOR 10**

<img src='https://i.ibb.co/JvBzgWn/greyscale.png'>

Download image [disini](https://i.ibb.co/JvBzgWn/greyscale.png)

* Load gambar tersebut dengan menggunakan library matplotlib.
* Jawab pertanyaan berikut ini : 
  - Berapa ukuran gambar tersebut.
  - Berapa total piksel/element pada gambar tersebut.
  - Cerahkan gambar tersebut dengan menambahkan suatu angka.